@import '../common/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
}

.active {
  font-weight: bold;
  font-family: 'Amiri', serif;
}

.breadcrumbsWrapper {
  padding: 0 10px;
}

.breadcrumbsItem {
  font-family: 'Amiri', serif;
  &:hover {
    color: $color-piper;
  }
}

// stepper styles
.buttonsWrapper {
  padding-top: 50px;
}
.drawerWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.drawerButton {
  width: 100px;
}

.cartIcon {
  position: absolute;
  top: 50px;
  left: 50px;
}
